.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

li.row {
  margin: 2rem 0;
}

span.column-half {
  align-self: center;
}

.column-full,
.column-half {
  width: 100%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

nav {
  max-width: 100%;
  margin: 0;
  padding: 0.2rem 0;
}

footer {
  max-width: 100%;
  padding: 2rem;
  margin: 0;
}

label {
  display: block;
}

.label-notes {
  margin: 1rem 0 0 0;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0 1rem 0;
}

.image {
  max-width: 100%;
  padding: 0 0 1rem 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  nav {
    padding: 0.5rem 2.25rem;
  }

  .image {
    padding: 0;
  }
}
