* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

nav,
footer {
  background-color: #123754;
}

.nav-bar li {
  display: inline;
}

i.white {
  color: white;
  padding-left: 1.25rem;
}

i.blue {
  color: #123754;
}

i:hover {
  cursor: pointer;
  color: #d4d4d4;
}

h1 {
  color: white;
  font-size: 1.75rem;
  display: inline;
  padding-right: 0.5rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  display: inline;
  padding-left: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

label {
  font-weight: 700;
}

input,
textarea {
  border: 0.2rem solid black;
}

.image {
  border: none;
}

button {
  background-color: white;
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(56, 53, 53, 0.514);
}

.modal-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  background-color: white;
  border: 2px solid #123754;
  padding: 2rem;
}

h4 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0 1.5rem 0;
}

.button-yes,
.button-save {
  background-color: #123754;
  border: none;
  color: white;
  padding: 1rem;
  font-weight: 700;
}

.button-no,
.button-delete {
  background-color: white;
  border: 1px solid #123754;
  color: #123754;
  padding: 1rem;
  font-weight: 700;
}

button:active {
  transform: translateY(0.25rem);
}
