* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

nav,
footer {
  background-color: #123754;
}

#entry-form {
  background-color: #f5f5f5;
}

h1 {
  color: white;
  font-size: 1.5rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

label {
  font-weight: 700;
}

input,
textarea {
  border: 0.2rem solid black;
}

.image {
  border: none;
}

button {
  background-color: #123754;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 1rem;
  border: 0.2rem solid #123754;
  cursor: pointer;
}

button:active {
  transform: translateY(0.25rem);
}

ul {
  list-style: none;
}
