* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  background-color: #5f7995;
  color: white;
  margin: 0;
  padding: 2rem 1.5rem;
}

label {
  display: block;
  padding: 1rem 0;
}

#image {
  max-width: 100%;
}
