* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

nav,
footer {
  background-color: #123754;
}

.nav-bar li {
  display: inline;
}

i.white {
  color: white;
  padding-left: 1.25rem;
}

i.blue {
  color: #123754;
}

i:hover {
  cursor: pointer;
  color: #d4d4d4;
}

h1 {
  color: white;
  font-size: 1.75rem;
  display: inline;
  padding-right: 0.5rem;
}

h2 {
  font-size: 2rem;
  padding: 1rem 0;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

label {
  font-weight: 700;
}

input,
textarea {
  border: 0.2rem solid black;
}

.image {
  border: none;
}

button {
  background-color: white;
  cursor: pointer;
  border: none;
}

ul {
  list-style: none;
}
